
 .table_block {
	  border: 6px solid black; 
	  border-radius: 28px; 
	  align-items: center;
	 }
   TD, TH {
    padding: 1px; 
	border-radius: 28px; 
   }
 body {
	
  font-family: Verdana, Helvetica, Arial, sans-serif;
}  